* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font Mono", "JetBrainsMono Nerd Font", monospace;
  font-size: 12px;
  font-weight: normal;
  min-height: 0;
}

window#waybar {
  background: #000000;
  color: #d4c7a1;
  padding: 0 0px;
}

#workspaces {
  margin: 0;
  padding: 0;
}

#workspaces button {
  padding: 0 6px;
  margin: 4px 2px;
  color: #665c54;
  border-radius: 14px;
  border: none;
  min-width: 0;
}

#workspaces button:hover {
  background: rgba(168, 153, 132, 0.08);
  color: #a89984;
}

#workspaces button.active,
#workspaces button.focused {
  color: #d4c7a1;
  background: rgba(168, 153, 132, 0.14);
  border: none;
}

#workspaces button.urgent {
  color: #ebdbb2;
  background: rgba(204, 107, 100, 0.70);
}

#clock,
#custom-uptime,
#custom-ny-countdown,
#custom-time-tracker,
#temperature,
#cpu,
#memory,
#pulseaudio,
#custom-headphones-battery,
#network,
#battery {
  background: transparent;
  padding: 0 8px;
  margin: 4px 0;
  color: #928374;
}

#clock {
  color: #d4c7a1;
  font-weight: 700;
  font-size: 12px;
}

#temperature.critical,
#battery.critical:not(.charging) {
  color: #cc6b64;
}

#battery.warning:not(.charging) {
  color: #d8a657;
}

#battery.charging,
#battery.plugged {
  color: #a9b665;
}

#pulseaudio.muted,
#network.disconnected,
#network.linked {
  color: #665c54;
}

tooltip {
  background: rgba(28, 27, 24, 0.96);
  border: 1px solid rgba(168, 153, 132, 0.14);
  border-radius: 12px;
}

tooltip label {
  color: #d4c7a1;
}
